body{
	margin:0 auto;
	margin-top:50px;
	text-align:center;
	background-color:#007093;
}
.chart{
	background-color:#fff;
}
.axis path,
.axis line{
	fill:none;
	stroke:#000;
	shape-rendering: crispEdges;
}
.dot{
	fill:#444;
	stroke:#999;
	stroke-width:1;
}
.clean{
	fill:red;
}
.hint{
	fill:steelblue;
}